body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
}

.profile {
  &__name {
    margin: auto;
    font-size: 15px;
    padding: 8px;
    border: 3px solid #eee;
  }
  &__birth {
    margin: auto;
    font-size: 12px;
    padding: 8px;
    border: 3px solid #4242be;
  }
}
